*,
*::before,
*::after {
  box-sizing: border-box;
}

/* define color theme variables */
:root {
  --main-background: #2f2f2f;
  --menu-background: #900303;
  --projects-background: #6d63ac;
  --main-font: #ffffff;
  --description-font: #ff5666;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*** Format navigation bar ***/
#navbar {
  top: 0;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: var(--menu-background);
  padding: 2vw 2vw 2vw 80vw;
}

#navbar li {
  list-style-type: none;
}

#navbar a {
  color: var(--main-font);
  text-decoration: none;
  padding: 2vw;
  font-size: 1.5rem;
}

#navbar a:hover {
  background-color: var(--projects-background);
}

/*** Format welcome section ***/
#welcome-section {
  height: 100vh;
  text-align: center;
  background-color: var(--main-background);
  padding-top: 25vh;
}

#welcome-section p {
  color: var(--description-font);
  font-size: 3rem;
}

h1 {
  font-size: 4rem;
  color: var(--main-font);
}

/*** Format projects section ***/
#projects {
  background-color: var(--projects-background);
  padding-bottom: 6vh;
}

#projects h2 {
  text-align: center;
  text-decoration: underline;
  color: var(--main-font);
  margin: 0;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 3rem;
}

#project-tiles {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-columns: minmax(400px, auto);
  gap: 3vw;
  padding: 2vw;
}

#project-tiles a {
  text-decoration: none;
  color: var(--main-font);
  text-align: center;
}

.image-container {
  width: 100%;
  height: 100%;
  background-color: var(--main-background);
}

.image-caption {
  padding-top: 1vh;
  height: 20%;
}

.project-tile img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

/* Add tag symbols around project caption */

.project-tile:hover .image-caption:before {
  color: var(--description-font);
  content: "< ";
}

.project-tile:hover .image-caption:after {
  color: var(--description-font);
  content: " />";
}

.image-caption::before, .image-caption::after {
    transition: all 250ms;
}
/*** Format contact section ***/
#contact {
  text-align: center;
  height: 100vh;
  color: var(--main-font);
  background-color: var(--main-background);
  padding-top: 1vh;
}

#contact h2 {
  font-size: 3rem;
  padding-top: 20vh;
}

#contact p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
  font-style: italic;
  padding-bottom: 3rem;
}

#social {
  margin: auto;
  width: 60%;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.social-group a {
  color: var(--main-font);
  text-decoration: none;
}

.social-group {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.social-group:hover {
  top: 1vh;
  cursor: pointer;
}

/*** Format footer ***/
footer hr {
    margin-top: 0;
    border: 3px solid var(--menu-background);
}

footer {
    background-color: var(--main-background);
    color: var(--main-font);
    height: 15vh;
}

footer p {
    display: inline-block;
    font-size: 1.2rem;
}
.copyright {
    position: absolute;
    right: 5vw;
}

.footer-note {
    position: absolute;
    left: 5vw;
}

/*** Media Query ***/
/* for small devices */
@media only screen and (max-width: 600px) {
  #project-tiles {
    grid-template-columns: 1fr;
  }
}

#profile-button {
  width: 10vw;
  margin: 3vh auto auto auto;
  text-align: center;
  padding: 1rem;
  color: var(--main-font);
  background-color: var(--main-background);
  transition: background-color ease 0.5s;
}

#profile-button:hover {
  background-color: var(--menu-background);
  cursor: pointer;
}
/* for medium devices */
@media only screen and (min-width: 600px) and (max-width: 800px) {
  #project-tiles {
    grid-template-columns: 1fr 1fr;
  }
}
