*,
*::before,
*::after {
  box-sizing: border-box;
}

/* define color theme variables */
:root {
  --main-background: #2f2f2f;
  --menu-background: #900303;
  --projects-background: #6d63ac;
  --main-font: #ffffff;
  --description-font: #ff5666;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Format navigation bar */
#navbar {
  top: 0;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: var(--menu-background);
  padding: 2vw 2vw 2vw 80vw;
}

#navbar li {
  list-style-type: none;
}

#navbar a {
  color: var(--main-font);
  text-decoration: none;
  padding: 2vw;
  font-size: large;
}

#navbar a:hover {
  background-color: var(--projects-background);
}

/* Format welcome section */
#welcome-section {
  margin-top: 10vh;
  text-align: center;
  background-color: var(--main-background);
  padding-top: 25vh;
  padding-bottom: 25vh;
}

#welcome-section p {
  color: var(--description-font);
  font-size: 3rem;
}

h1 {
  font-size: 4rem;
  color: var(--main-font);
}

/* Format projects section */
#project-tiles {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: var(--projects-background);
  grid-auto-columns: minmax(400px, auto);
  gap: 3vw;
  padding: 3vw;
}

#project-tiles a {
  text-decoration: none;
  color: var(--main-font);
  text-align: center;
}

.image-container {
  width: 100%;
  height: 100%;
  background-color: var(--main-background);
}

.image-caption {
  padding-top: 1vh;
  height: 20%;
}

.project-tile img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

/* Add tag symbols around project caption */
.project-link:hover .image-caption:before {
  color: var(--description-font);
  content: "< ";
}

.project-link:hover .image-caption:after {
  color: var(--description-font);
  content: " />";
}

/* for small devices */
@media only screen and (max-width: 600px) {
  #project-tiles {
    grid-template-columns: 1fr;
  }
}

/* for medium devices */
@media only screen and (min-width: 600px) and (max-width: 800px) {
  #project-tiles {
    grid-template-columns: 1fr 1fr;
  }
}
